{% block subject %}
Lien d'Activation plateforme Template
{% endblock %}

{% block html_body %}
<!doctype html>
<html>

<body
  style="margin:0; padding:0; background-image:url('{{bg_url}}'); background-size:cover; background-repeat:no-repeat; background-position:center; font-family:Arial, sans-serif;">
  <table width="100%" cellpadding="0" cellspacing="0" border="0">
    <tr>
      <td align="center">

        <!-- ✅ encart fixe -->
        <table width="600" cellpadding="0" cellspacing="0" border="0"
          style="background:white; border-radius:8px; padding:24px;">
          <tr>
            <td>
              <img src="{{ logo_url }}" width="120" alt="Template"
                style="display:block; margin:0 auto 20px auto; border:0; outline:none; text-decoration:none;">
            </td>
          </tr>
          <tr>
            <td style="font-size:16px; color:#333333; text-align:center;">
              <p>Bonjour <strong>{{ user.get_full_name|default:user.email }}</strong>,</p>
              <p>Votre enseigne vous a enregistré sur la plateforme Template son agence de communication.</p>
              <p>Vous y retrouverez l'ensemble des produits et services disponibles pour les magasins de l'enseigne.</p>

              <p>Voici votre lien pour activer votre compte. Il est valide pour 48h :</p>
              <p>Au-delà de ce délai, vous pouvez nous redemander un nouveau lien en nous écrivant à :</p>
              <p>contact@arevagence.com</p>
            </td>
          </tr>
          <tr>
            <td style="padding-top:10px; text-align:center;">
              <a href="{{ activation_url|default:url }}" target="_blank"
                style="display:inline-block; padding:12px 24px; background-color:#E33912; color:#ffffff; text-decoration:none; font-weight:bold; border-radius:6px;">
                Activer mon compte
              </a>
            </td>
          </tr>
        </table>
      </td>
    </tr>
  </table>
</body>

</html>
{% endblock %}